<%= @profile.firstname %>
<%= @profile.lastname %><br>
<p>email: <%= @profile.email %><br></p>
<p>Tweets: </p>
<% count=1 %>
<% @profile.tweets.each do |tmp| %>
	<p><%= count %>)	<%= tmp.body %></p><br>
	<% count += 1  %>	
<% end %>	

