<%= @profile.firstname %>
<%= @profile.lastname %><br>
<p>email: <%= @profile.email %><br></p>
<p>Tweets: </p>
<% @profile.tweets.each do |tmp| %>
	<% if tmp.retweeted_tweet_id.nil? %>
		<p>Original tweet: <%= tmp.body %> </p>
	<% else %>
		<p>Retweeted tweet: <%= tmp.body %> </p>
	<% end %>		
<% end %>	

