<%= current_user.firstname %>
<%= current_user.lastname %><br>
<p>Email: <%= current_user.email %><p><br>

<%= render "form", profile: @profile %>

<% if @profile1 %>
	<p>mobile number: <%= @profile1.mobilenumber %></p><br>
	<p>address: <%= @profile1.address %></p>
<% else %>
  <p>No profile information available.</p>
<% end %>
<%= link_to "Edit", edit_profile_path %>
<%= link_to "Destroy", profile_path, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %><br>



<% current_user.tweets.each do |tmp| %>
	<% if tmp.retweeted_tweet_id.nil? %>
		<p>Original tweet: <%= tmp.body %> </p>
		<%if tmp.tweet_file.attached? %> 	
			<% if tmp.tweet_file.image? %>
				<%= image_tag tmp.tweet_file%>
			<% elsif tmp.tweet_file.video? %>
        <%= video_tag(url_for(tmp.tweet_file), controls: "") %>  
      <% elsif tmp.tweet_file.audio? %>
        <%= audio_tag(url_for(tmp.tweet_file), controls: "") %> 	
			<% else %>
				<p>File type: <%= tmp.tweet_file.content_type %></p>
				<%= link_to tmp.tweet_file.filename, rails_blob_path(tmp.tweet_file, disposition: 'attachment') %> 	
			<% end %>
		<% else %>
		  <p>	No file attached </p>
		<% end %>	
	<% else %>
		<p>Retweeted tweet: <%= tmp.body %> </p>
		<%if tmp.tweet_file.attached? %> 
			<% if tmp.tweet_file.image? %>
				<%= image_tag tmp.tweet_file%>
			<% elsif tmp.tweet_file.video? %>
        <%= video_tag(url_for(tmp.tweet_file), controls: "") %>  
      <% elsif tmp.tweet_file.audio? %>
        <%= audio_tag(url_for(tmp.tweet_file), controls: "") %> 
      <% else %>
				<p>File type: <%= tmp.tweet_file.content_type %></p>
				<%= link_to tmp.tweet_file.filename, rails_blob_path(tmp.tweet_file, disposition: 'attachment') %>
			<% end %>	
		<% else %>
			<p> No file attached </p>	
		<% end %>	
	<% end %> 
<% end %> 

