<%= current_user.firstname %>
<%= current_user.lastname %><br>
<p>Email: <%= current_user.email %><p><br>

<%= render "form", profile: @profile %>

<% if @profile1 %>
	<p>mobile number: <%= @profile1.mobilenumber %></p><br>
	<p>address: <%= @profile1.address %></p>
<% else %>
  <p>No profile information available.</p>
<% end %>

<% current_user.tweets.each do |tmp| %>
	<% if tmp.retweeted_tweet_id.nil? %>
		<p>Original tweet: <%= tmp.body %> </p>
	<% else %>
		<p>Retweeted tweet: <%= tmp.body %> </p>
	<% end %> 
<% end %> 

