
<%= form_with(model: tweet, local: true, html: { multipart: true }) do |form| %>
  <div>
    <%= form.label :body, 'tweet' %><br>
    <%= form.text_field :body %>
  </div>

  <div>
    <%= form.label :tweet_file, 'Upload File' %>
    <%= form.file_field :tweet_file %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>