

<%= form_with model: @tweet do |form| %>
  <div>
    <%= form.label :tweet %><br>
    <%= form.text_field :body %>
  </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= button_to "logout", destroy_user_session_path, method: :delete%>

<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <%= tweet.body %>
    </li>
  <% end %>  
</ul>


