<%= render "navbar" %>










<%= link_to "edit sign up form", edit_user_registration_path %>





<%= render "form", tweet: @tweet %>


<%# <%= button_to "logout", destroy_user_session_path, method: :delete%> 


  <% @tweets.each do |tweet| %>

    
      <%= tweet.user.firstname %>  
      <%= tweet.user.lastname %>
      <%= tweet.user.email %> <br>  
      <%= tweet.body %><br>
      <%= link_to "Edit", edit_tweet_path(tweet) %>
      <%= link_to "Destroy", tweet_path(tweet), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %><
      <%= link_to " add comment", tweet_path(tweet) %> <br> 
      <% tweet.comments.each do |comment| %>
        <p>
         
         <%= comment.user.firstname %>
         <%= comment.user.lastname %><span>:</span>
         <%= comment.body %>
        </p>
      <% end %>        
  <% end %>  



