<h1><%= current_user.email%></h1>
<%= render "form", tweet: @tweet %>


<%= button_to "logout", destroy_user_session_path, method: :delete%>


  <% @tweets.each do |tweet| %>

    
      <%= tweet.user.email%> <br>  
      <%= tweet.body %><br>
      <%= link_to "Edit", edit_tweet_path(tweet) %><br>
    
  <% end %>  



