


<% if user_signed_in? %> 

  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<h1><%= current_user.email%></h1>



<%= render "form", tweet: @tweet %>


<%# <%= button_to "logout", destroy_user_session_path, method: :delete%> 


  <% @tweets.each do |tweet| %>

    
      <%= tweet.user.email%> <br>  
      <%= tweet.body %><br>
      <%= link_to "Edit", edit_tweet_path(tweet) %><br>
      <%= link_to "Destroy", tweet_path(tweet), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %><br>
  <% end %>  



