<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <% if user_signed_in? %> 
            <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
          <% else %>
            <%= button_to "Sign in", new_user_session_path %> 
          <% end %>   
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <%= current_user&.firstname.to_s + " " + current_user&.lastname.to_s %>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>











<%= link_to "edit sign up form", edit_user_registration_path %>





<%= render "form", tweet: @tweet %>


<%# <%= button_to "logout", destroy_user_session_path, method: :delete%> 


  <% @tweets.each do |tweet| %>

    
      <%= tweet.user.firstname %>  
      <%= tweet.user.lastname %>
      <%= tweet.user.email %> <br>  
      <%= tweet.body %><br>
      <%= link_to "Edit", edit_tweet_path(tweet) %><br>
      <%= link_to "Destroy", tweet_path(tweet), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %><br>
      <%= link_to " add comment", tweet_path(tweet) %> <br>             
  <% end %>  



