


<% if user_signed_in? %> 

  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>
<%= link_to "edit sign up form", edit_user_registration_path %>


<h1><%= current_user&.firstname.to_s + " " + current_user&.lastname.to_s %></h1>




<%= render "form", tweet: @tweet %>


<%# <%= button_to "logout", destroy_user_session_path, method: :delete%> 


  <% @tweets.each do |tweet| %>

    
      <%= tweet.user.firstname %>  
      <%= tweet.user.lastname %>
      <%= tweet.user.email %> <br>  
      <%= tweet.body %><br>
      <%= link_to "Edit", edit_tweet_path(tweet) %><br>
      <%= link_to "Destroy", tweet_path(tweet), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %><br>
  <% end %>  



